<div class="container"
     gdAreas.gt-sm="header header header | content content side | article1 article2 side | footer footer footer"
     gdColumns.gt-sm="1fr 1fr 200px"
     gdGap="10px"
     gdAreas="header | content | article1 | article2 | side | footer"
     gdColumns="1fr"
     gdAreas.sm="header header | side side | content content | article1 article2 | footer footer"
     gdColumns.sm="1fr 1fr">
  <div class="item1" gdArea="header">1</div>
  <div class="item2" gdArea="content">2</div>
  <div class="item3" gdArea="side">3</div>
  <div class="item4" gdArea="article1">4</div>
  <div class="item5" gdArea="article2">5</div>
  <div class="item6" gdArea="footer">6</div>
</div>
